[Desktop Entry]
Version=1.0
Name=WSJT-CB
Comment=Amateur Radio Weak Signal Operating
Exec=wsjtcb
Icon=wsjtcb_icon
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=AudioVideo;Audio;HamRadio;
StartupNotify=true
